.drop {
  width: 100%;
  height: 48px;
  border-radius: 15px;

  outline: none !important;
  border: none !important;

  &:hover {
    outline: none !important;
    border: red !important;
  }

  // &__menu {

  // }
}
