.nav {

  &__link > li > a {
    padding: 15px 0;
  }

  &__link :nth-child(2) {
    margin: 0 40px;
  }

  &__link :nth-child(3) {
    margin-right: 45px;
  }

  &__link :nth-child(4) {
    margin-right: 30px;
  }

  &__link :hover {
    fill: red;
  }
}
