
// @import "custom";
@import "utils";
@import "fonts";
@import "typography";
@import "blocks/header";
@import "blocks/container";
@import "blocks/nav";
@import "blocks/button";
@import "blocks/current-offers";
@import "blocks/sorting-aside";
@import "blocks/drop.scss";

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
}
